/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    .card-home{
        position: absolute;
        top: 80%;
    }
    .h1-home{
        font-size: 150% !important;
    }
  }