.container-home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 100vh;
    background-color: white;
    z-index: -1;
}

.container-about {
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 100vh;
    background-color: white;
    z-index: -1;
}

#navbar {
    /* background-color: transparent !important; */
    box-shadow: 0px -16px 51px -2px rgba(0, 0, 0, 0.75);
    transition: all 0.4s linear;
}

#navbar #logo {
    transition: all 0.4s linear;
}

#links {
    transition: all 0.4s linear;
}

.nav-home{
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    border-radius: 10px;
    color: white !important;
    text-shadow: 4px 4px 6px rgba(139,139,139,0.6);
    transition: all .3s linear;
}
.nav-home:hover{
    transform: scale(1.2);
}